In [1]:
import numpy as np
import pandas as pd
import boto3
from fastparquet import ParquetFile
import altair as alt

In [55]:
def connection():
  session = boto3.Session(
      aws_access_key_id='AKIAVIHI23JPR2BQFWRX',
      aws_secret_access_key='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',
      region_name='us-east-2'
  )
  # s3_resource = boto3.resource("s3", region_name='us-east-2', aws_access_key_id='AKIAVIHI23JPR2BQFWRX', aws_secret_access_key='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')
  s3_resource = session.resource("s3")

  # file_path = 'olist/1f301035-bdc3-4ccc-ae4b-e9b32311368c'
#   file_path='olist/1795ada3-3cc7-4551-b73d-83c1be7843d1'
  file_path='olist/66f54897-7830-496a-a252-872f76e2a188'
  file_name = file_path.split("/")[-1]
  s3_resource.meta.client.download_file('olist-data-wh',file_path, f'/tmp/{file_name}')
  pf= ParquetFile(f'/tmp/{file_name}')
  df = pf.to_pandas()
  df_final = transform_timestamp_columns(df)
  return df_final

In [54]:
def transform_timestamp_columns(df):
    df.drop(columns=['purchase_date','delivered_customer_date','estimated_delivery_date','purchase_hour','delivered_customer_hour','purchase_time_day','delvered_customer_time_day'],axis=1, inplace=True)
    
    timestamp_cols = ['order_purchase_timestamp','order_delivered_customer_date','order_delivered_carrier_date','order_estimated_delivery_date']

    for col in timestamp_cols:
        df[col] = pd.to_datetime(df[col])
        column_split = df[col].name.split("_")
        if column_split[1] in ["purchase","approved"]:
            column_split = column_split[1]
        else:
            column_split = "_".join(column_split[1:3])
        
        # Agregando columnas con Año y Mes
        df[column_split+'_year'] = df[col].apply(lambda x: x.year).apply(lambda x:np.nan if np.isnan(x) else int(x))
        df[column_split+'_month'] = df[col].apply(lambda x: x.month)
        df[column_split+'_month_name'] = pd.to_datetime(df[col], errors='coerce').dt.strftime('%b')
        df[column_split+'_year_month'] = pd.to_datetime(df[col], errors='coerce').dt.strftime('%Y-%m')
        df[column_split+'_date'] = pd.to_datetime(df[col], errors='coerce').dt.strftime('%Y-%m-%d')

        # # Agregando columnas con Día y Día de la semana
        df[column_split+'_day'] = pd.to_datetime(df[col], errors='coerce').dt.day
        # df[column_split+'_day'] = df[col].astype('datetime64[ns]').apply(lambda x: x.day) # FALTA NUMERO DEL DIA
        df[column_split+'_dayofweek'] = pd.to_datetime(df[col], errors='coerce').dt.dayofweek
        # df[column_split+'_dayofweek'] = df[col].astype('datetime64[ns]').apply(lambda x: x.dayofweek) #
        df[column_split+'_dayofweek_name'] = pd.to_datetime(df[col], errors='coerce').dt.strftime('%a')
        # df[column_split+'_dayofweek_name'] = df[col].astype('datetime64[ns]').apply(lambda x: x.strftime('%a'))
    
        # # Agregando columnas con Hora y si es de día o noche
        df[column_split+'_hour'] = pd.to_datetime(df[col], errors='coerce').dt.hour
        # df[column_split+'_hour'] = df[col].astype('datetime64[ns]').apply(lambda x: x.hour)
        hours_bins = [-0.001, 6, 12, 18, 23]
        hours_labels = ['Dawn', 'Morning', 'Afternoon', 'Night']
        df[column_split+'_time_day'] = pd.cut(df[column_split+'_hour'], hours_bins, labels=hours_labels)
    return df

In [4]:
df = connection()

sales_state = df.loc[:,['order_id', 'payment_value', 'freight_value', 'seller_state', 'order_purchase_timestamp', 'order_status']]
sales_state = sales_state[sales_state['order_status'] == 'delivered']
sales_state.drop_duplicates(inplace=True)
sales_state['order_purchase_timestamp'] = sales_state['order_purchase_timestamp'].astype('datetime64[ns]').apply(lambda x: x.strftime('%Y-%m'))
total_value = sales_state.loc[:,['order_purchase_timestamp', 'seller_state', 'payment_value']].groupby(['order_purchase_timestamp', 'seller_state']).sum().reset_index().sort_values('order_purchase_timestamp')
total_freight = sales_state.loc[:,['order_purchase_timestamp', 'seller_state', 'freight_value']].groupby(['order_purchase_timestamp', 'seller_state']).sum().reset_index().sort_values('order_purchase_timestamp')

In [3]:
df = connection()

In [22]:
orders = df.loc[:,['order_id', 'order_item_id', 'seller_id', 'seller_state','seller_state_name', 'price', 'customer_id']].drop_duplicates()
sellers_by_state = orders.loc[:,['seller_id', 'seller_state','seller_state_name']].drop_duplicates().groupby(['seller_state','seller_state_name']).count().reset_index()
sellers_by_state.rename(columns={'seller_id':'total_sellers'}, inplace=True)
sells_by_state = orders.loc[:,['price', 'seller_state','seller_state_name']].groupby(['seller_state','seller_state_name']).sum().reset_index()
sells_by_state.rename(columns={'price':'total_sells'}, inplace=True)
total_orders_by_seller_by_state = orders.loc[:,['seller_state','seller_state_name', 'order_id']].groupby(['seller_state','seller_state_name']).count().reset_index()
total_orders_by_seller_by_state.rename(columns={'order_id':'total_orders'}, inplace=True)
sells_by_state_seller = pd.merge(sellers_by_state, sells_by_state, on='seller_state')
sells_by_state_seller = pd.merge(sells_by_state_seller, total_orders_by_seller_by_state, on='seller_state')
sells_by_state_seller.drop(columns=['seller_state_name_x','seller_state_name_y'], inplace=True)
sells_by_state_seller['sells_by_seller'] = sells_by_state_seller['total_sells']/sells_by_state_seller['total_sellers']
sells_by_state_seller['sells_by_seller'] = sells_by_state_seller['sells_by_seller'].apply(lambda x: round(x,2))
sells_by_state_seller

,seller_state,total_sellers,total_sells,seller_state_name,total_orders,sells_by_seller
0,AC,1,267.00,Acre,1,267.00
1,AM,1,1177.00,Amazonas,3,1177.00
2,BA,20,286903.56,Bahía,647,14345.18
3,CE,13,20240.64,Ceará,94,1556.97
4,DF,31,97784.48,Distrito Federal,900,3154.34
5,ES,24,47779.51,Espírito Santo,373,1990.81
6,GO,40,66399.21,Goiás,520,1659.98
7,MA,1,36408.95,Maranhão,405,36408.95
8,MG,250,1034264.38,Minas Gerais,9006,4137.06
9,MS,5,8551.69,Mato Grosso del Sur,50,1710.34
10,MT,4,17070.72,Mato Grosso,145,4267.68
11,PB,6,17095.00,Paraíba,38,2849.17
12,PE,9,91493.85,Pernambuco,448,10165.98
13,PI,1,2522.00,Piauí,12,2522.00
14,PR,360,1273891.13,Paraná,8787,3538.59
15,RJ,176,856722.60,Río de Janeiro,4977,4867.74
16,RN,4,9940.60,Río Grande del Norte,54,2485.15
17,RO,2,4762.20,Rondônia,14,2381.10
18,RS,132,379801.24,Río Grande del Sur,2205,2877.28
19,SC,197,641535.08,Santa Catarina,4255,3256.52
20,SE,2,1606.20,Sergipe,10,803.10
21,SP,1816,8695426.66,São Paulo,79706,4788.23

In [32]:
sales_state = df.loc[:,['order_id', 'payment_value', 'freight_value', 'seller_state','seller_state_name', 'order_purchase_timestamp', 'order_status']]
sales_state = sales_state[sales_state['order_status'] == 'delivered']
sales_state.drop_duplicates(inplace=True)
sales_state['order_purchase_timestamp'] = sales_state['order_purchase_timestamp'].apply(lambda x: x.strftime('%Y-%m'))
total_value = sales_state.loc[:,['order_purchase_timestamp', 'seller_state','seller_state_name', 'payment_value']].groupby(['order_purchase_timestamp', 'seller_state','seller_state_name']).sum().reset_index().sort_values('order_purchase_timestamp')
total_freight = sales_state.loc[:,['order_purchase_timestamp', 'seller_state','seller_state_name', 'freight_value']].groupby(['order_purchase_timestamp', 'seller_state','seller_state_name']).sum().reset_index().sort_values('order_purchase_timestamp')
total_freight

    order_purchase_timestamp seller_state    seller_state_name  freight_value
0                    2016-09           PR               Paraná           2.83
10                   2016-10           SP            São Paulo        3425.81
8                    2016-10           RS   Río Grande del Sur         141.78
7                    2016-10           RJ       Río de Janeiro         654.94
6                    2016-10           PR               Paraná         612.22
..                       ...          ...                  ...            ...
321                  2018-08           DF     Distrito Federal        1073.63
320                  2018-08           CE                Ceará         553.45
319                  2018-08           BA                Bahía        2026.04
326                  2018-08           MS  Mato Grosso del Sur          65.22
336                  2018-08           SP            São Paulo       86539.80

[337 rows x 4 columns]

In [40]:
sales_state = df.loc[:,['order_id', 'payment_value', 'freight_value', 'seller_state','seller_state_name', 'order_purchase_timestamp', 'order_status']]
sales_state = sales_state[sales_state['order_status'] == 'delivered']
sales_state.drop_duplicates(inplace=True)
sales_state['order_purchase_timestamp'] = sales_state['order_purchase_timestamp'].astype('datetime64[ns]').apply(lambda x: x.strftime('%Y-%m'))
total_value = sales_state.loc[:,['order_purchase_timestamp', 'seller_state','seller_state_name', 'payment_value']].groupby(['order_purchase_timestamp', 'seller_state','seller_state_name']).sum().reset_index().sort_values('order_purchase_timestamp')
total_freight = sales_state.loc[:,['order_purchase_timestamp', 'seller_state','seller_state_name', 'freight_value']].groupby(['order_purchase_timestamp', 'seller_state','seller_state_name']).sum().reset_index().sort_values('order_purchase_timestamp')
total_freight

    order_purchase_timestamp seller_state    seller_state_name  freight_value
0                    2016-09           PR               Paraná           2.83
10                   2016-10           SP            São Paulo        3425.81
8                    2016-10           RS   Río Grande del Sur         141.78
7                    2016-10           RJ       Río de Janeiro         654.94
6                    2016-10           PR               Paraná         612.22
..                       ...          ...                  ...            ...
321                  2018-08           DF     Distrito Federal        1073.63
320                  2018-08           CE                Ceará         553.45
319                  2018-08           BA                Bahía        2026.04
326                  2018-08           MS  Mato Grosso del Sur          65.22
336                  2018-08           SP            São Paulo       86539.80

[337 rows x 4 columns]

In [ ]:
from geopy import distance as dis

In [48]:
sellers_customers = df.loc[:,['seller_id', 'seller_state','seller_state_name', 'seller_geolocation_lat', 'seller_geolocation_lng', 'customer_id','customer_state', 'customer_state_name', 'customer_geoloction_lat', 'customer_geolocation_lng']].drop_duplicates()
sellers_customers = sellers_customers[sellers_customers['seller_state'] != sellers_customers['customer_state']].dropna()
sellers_customers['distance'] = sellers_customers.loc[:,['seller_geolocation_lat', 'seller_geolocation_lng', 'customer_geoloction_lat', 'customer_geolocation_lng']].apply(lambda x: dis.distance((x[0], x[1]), (x[2], x[3])), axis=1)
sellers_customers['distance'] = sellers_customers['distance'].apply(lambda x: round(x.km,2))
sellers_customers_by_state = sellers_customers.loc[:,['seller_state','seller_state_name', 'distance']]
sellers_customers_by_state = sellers_customers_by_state[sellers_customers_by_state['distance'] < 4000]

,seller_id,seller_state,seller_state_name,seller_geolocation_lat,seller_geolocation_lng,customer_id,customer_state,customer_state_name,customer_geoloction_lat,customer_geolocation_lng,distance
3,289cdb325fb7e7f891c38608bf9e0962,MG,Minas Gerais,-19.807681,-43.980427,b0830fb4747a6c6d20dea0b8c802d7ef,BA,Bahía,-12.177924,-44.660711,847.44
4,4869f7a5dfa277a7dca6462dcf3b52b2,SP,São Paulo,-21.363502,-48.229601,41ce2a54c0b03bf3443c3d931a367089,GO,Goiás,-16.745150,-48.514783,512.10
5,66922902710d126a0e7d26b0e3805106,MG,Minas Gerais,-19.837682,-43.924053,f88197465ea7920adcdbec7375364d82,RN,Río Grande del Norte,-5.774190,-35.271143,1816.09
7,8581055ce74af1daba164fdbd55a40de,SP,São Paulo,-23.468704,-46.516142,503740e9ca751ccdda7ba28e9ab8f608,PR,Paraná,-23.553522,-50.549924,412.07
8,dc8798cbf453b7e0f98745e396cc5616,SP,São Paulo,-23.541383,-46.711854,ed0271e0b7da060a393796590e7b737a,RS,Río Grande del Sur,-27.865358,-54.470128,913.86
...,...,...,...,...,...,...,...,...,...,...,...
118709,1caf283236cd69af44cbc09a0a1e7d32,RJ,Río de Janeiro,-22.733078,-43.449614,da2124f134f5dfbce9d06f29bdb6c308,MT,Mato Grosso,-15.566054,-56.084865,1546.70
118713,ccc4bbb5f32a6ab2b7066a4130f114e3,PR,Paraná,-25.456934,-49.309455,f01a6bfcc730456317e4081fe0c9940e,MG,Minas Gerais,-20.129695,-44.891072,744.05
118718,d50d79cb34e38265a8649c383dcffd48,SP,São Paulo,-23.553642,-46.452661,1aa71eb042121263aafbe80c1b562c9c,BA,Bahía,-17.898358,-39.373630,966.95
118719,a1043bafd471dff536d0c462352beb48,MG,Minas Gerais,-20.940578,-45.827237,b331b74b18dc79bcdf6532d51e1637c1,RJ,Río de Janeiro,-22.562825,-42.694574,370.48
118721,ececbfcff9804a2d6b40f589df8eef2b,SP,São Paulo,-20.496251,-47.418434,edb027a75a1449115f6b43211ae02a24,PR,Paraná,-25.764308,-49.720376,629.21

In [56]:
df = connection()

In [65]:

df_delivery = df.loc[:,['order_id', 'seller_state','seller_state_name', 'order_status', 'order_purchase_timestamp', 'purchase_date', 'order_delivered_carrier_date', 'delivered_carrier_date', 'order_delivered_customer_date', 'delivered_customer_date', 'order_estimated_delivery_date', 'estimated_delivery_date']]
df_delivered = df_delivery[df_delivery['order_status']=='delivered']
df_delivered.loc[:,'delta_estimated_real'] = df_delivered.loc[:,'estimated_delivery_date'].astype('datetime64[ns]') - df_delivered.loc[:,'delivered_customer_date'].astype('datetime64[ns]')
df_delivered.loc[:,'delta_purchase_delivered'] = df_delivered.loc[:,'delivered_customer_date'].astype('datetime64[ns]') - df_delivered.loc[:,'purchase_date'].astype('datetime64[ns]')
df_delivered['delta_estimated_real'] = df_delivered['delta_estimated_real'].apply(lambda x: x.days)
df_delivered['delta_purchase_delivered'] = df_delivered['delta_purchase_delivered'].apply(lambda x: x.days)

/var/folders/rz/0d_g_df14hn4j_5kyrct5lg00000gn/T/ipykernel_11754/2542667345.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_delivered.loc[:,'delta_estimated_real'] = df_delivered.loc[:,'estimated_delivery_date'].astype('datetime64[ns]') - df_delivered.loc[:,'delivered_customer_date'].astype('datetime64[ns]')
/var/folders/rz/0d_g_df14hn4j_5kyrct5lg00000gn/T/ipykernel_11754/2542667345.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_delivered.loc[:,'delta_purchase_delivered'] = df_delivered.loc[:,'delivered_customer_date'].astype('datetime64[ns]') - df_delivered.loc[:,'purchase_date'].astype('datetime64[ns]')
/var/folders/rz/0d_g_df14hn4j_5kyrct5lg00000gn/T/ipykernel_11754/2542667345.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_delivered['delta_estimated_real'] = df_delivered['delta_estimated_real'].apply(lambda x: x.days)
/var/folders/rz/0d_g_df14hn4j_5kyrct5lg00000gn/T/ipykernel_11754/2542667345.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_delivered['delta_purchase_delivered'] = df_delivered['delta_purchase_delivered'].apply(lambda x: x.days)

In [74]:
total_delivered_real = df_delivered.loc[:,['seller_state','seller_state_name', 'delta_estimated_real']].groupby(['seller_state','seller_state_name']).count().reset_index()
total_delivered_real.rename(columns={'delta_estimated_real':'total_delivered_real'}, inplace=True)
ontime_delivered_real = df_delivered[df_delivered['delta_estimated_real'] > 1].loc[:,['seller_state', 'delta_estimated_real']].groupby('seller_state').count().reset_index()
delivered_real = pd.merge(ontime_delivered_real, total_delivered_real, on='seller_state', how='left')
delivered_real.rename(columns={'delta_estimated_real':'ontime_delivered_real'}, inplace=True)
delivered_real['delivered_real_percentage'] = (delivered_real['ontime_delivered_real']/delivered_real['total_delivered_real'])*100
delivered_real['delivered_real_percentage'] = delivered_real['delivered_real_percentage'].apply(lambda x: round(x,2))
delivered_real

,seller_state,ontime_delivered_real,seller_state_name,total_delivered_real,delivered_real_percentage
0,AM,1,Amazonas,3,33.33
1,BA,632,Bahía,684,92.40
2,CE,90,Ceará,99,90.91
3,DF,861,Distrito Federal,931,92.48
4,ES,353,Espírito Santo,382,92.41
5,GO,510,Goiás,536,95.15
6,MA,309,Maranhão,406,76.11
7,MG,8622,Minas Gerais,9226,93.45
8,MS,56,Mato Grosso del Sur,60,93.33
9,MT,138,Mato Grosso,146,94.52
10,PB,41,Paraíba,43,95.35
11,PE,439,Pernambuco,462,95.02
12,PI,10,Piauí,11,90.91
13,PR,8276,Paraná,8953,92.44
14,RJ,4571,Río de Janeiro,5047,90.57
15,RN,47,Río Grande del Norte,54,87.04
16,RO,14,Rondônia,14,100.00
17,RS,2141,Río Grande del Sur,2261,94.69
18,SC,4090,Santa Catarina,4369,93.61
19,SE,10,Sergipe,10,100.00
20,SP,73384,São Paulo,81607,89.92